[Desktop Entry]
Encoding=UTF-8
Name=Gemini
Comment=Google Gemini
Type=Application
Exec=gemini-desktop --tray
Icon=${SNAP}/unpacked/resources/app/icon.png
Categories=Accessories;
Keywords=AI;Copilot;GPT;ChatGPT;Gemini;
